.services-content{
    padding-top: 50px;
}

.title1{
    text-align: center;
}

.qualities-content{
    padding-top: 30px;
}

#carouselExampleIndicators{
    height: auto;
}

.qualities-cards{
    padding-top: 30px;
}

.carousel-caption{
    padding-bottom: 250px;
}